// compileCompressed: ../css/style.min.css, compileExpanded: ../css/style.min.css
@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "normalize/import-now";
@import 'keyframes';
@import "../node_modules/hamburgers/_sass/hamburgers/hamburgers";
@import 'cards';

nav {
	background-color: $primary;
	color: #fff;
	font-family: $montserrat;
	padding-bottom: 10px;

	.title {
		display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
	}

	.hamburgers {
		position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255,255,255,0.8);
    font-size: 24px;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		overflow: hidden;

		li {
			text-align: center;
    	margin: 15px auto;

			a {
				display: block;
				color: #fff;
				text-decoration: none;
				padding: 14px 16px;
				border-radius: 8px;
				transition: background-color .2s ease;

				&:hover {
					// background-color: $p-hover;
				}
			}
		}
	}
}

.game {
	padding: 0 2em;
	.highscore {
		display: flow-root;
		margin: 0 auto;
		max-width: 1024px;
		p {
			font-family: $montserrat;
			font-size: 1.5em;
			&:nth-of-type(0) {float:left}
			&:nth-of-type(1) {float:right}
		}
	}
	.board {
		max-width: 1024px;
		margin: 0 auto;
    background-color: #21651d;
    border-radius: 40px;
    border: 24px solid #422a21;
		padding-top: 22px;
		position: relative;
		.restart-wrapper {
			position: absolute;
			z-index: 1;
			width: 100%;
			height: 100%;
			background-color: #607d8bcc;
			top: 0;
			border-radius: 16px;
			display: none;
			align-items: center;
			justify-content: center;
			font-size: 2rem;
			font-family: $montserrat;
			text-align: center;
			#restart {
				padding: 1em 4em;
				font-weight: 600;
			}
		}
	}
	.turn {
		font-family: $montserrat;
		text-align: center;
		font-size: 2rem;
	}
}

@media only screen and (min-width: 425px) {
  nav {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;

		.hamburger {
			display: none;
		}

		.title {
			margin: 0 20px;
		}

		ul {
			display: flex;
			margin-right: 30px;
			flex-direction: row;
			justify-content: flex-end;

			li {
				margin: 0;

				a {
					margin-left: 40px;
				}
			}
		}
  }
}
